:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
}
.page {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, Arial;
}

/* цвет основного текста #212121*/

/* вторичный цвет текста #757575*/

/* белый #FFFFFF*/

/* rgba (255, 255, 255, 0,4)*/

/* акцент #2196F3*/

/* вторичный цвет фона F5F4FA*/

.logo {
  color: var(--title-text-color);
  font-family: Raleway, Arial;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.accent {
  color: var(--accent-color);
}

.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/*hero*/
.hero {
  background-color: var(--primary-text-color);
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.section-title {
  color: var(--title-text-color);

  font-weight: bold;
  font-size: 14px;
  line-height: 0.88;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.section-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.72;
  letter-spacing: 0.03em;
}

.doing-title,
.team-title {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-people {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 0.84;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.customers-title {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.link {
  color: var(--title-text-color);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

/*button*/
.button {
  color: var(--title-text-color);
}

.button.primery {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 0.53;
  letter-spacing: 0.06em;
}

.list-button:hover {
  color: var(--accent-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.89;
  text-align: center;
  letter-spacing: 0.03em;
}

.text {
  color: var(--primary-white-color);
  font-weight: normal;
  font-size: 18px;
  line-height: 1.61;
  letter-spacing: 0.03em;
}

/*футер*/
.footer .logo {
  font-weight: bold;
  font-size: 22px;
  line-height: 1.77;
  letter-spacing: 0.03em;
}

address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.58;
  letter-spacing: 0.03em;
}

b {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.developed {
  font-size: 12px;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.03em;
}
